<div class="loading-indicator">
    <div class="loading-indicator-bar"></div>
    <div class="loading-indicator-bar"></div>
    <div class="loading-indicator-bar"></div>
    <div class="loading-indicator-bar"></div>
    <div class="loading-indicator-bar"></div>
    <div class="clearfix"></div>
</div>
