<div *ngIf="data" class="confirmation-dialog">
    <div class="confirmation-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ data.title | translate }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span class="icon icon-delete" aria-hidden="true"> </span>
      </button>
        </div>
        <div class="modal-body">
            {{ data.message | translate }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" (click)="accept()"><i class="icon icon-ok"></i>{{ data.btnOkText }}</button>
            <button type="button" class="btn" (click)="decline()"><i class="icon icon-delete"></i> {{ data.btnCancelText }}</button>

        </div>
    </div>
</div>